header {
  height: em(90);
  background-color: $color-1;
  background-image: $background-img;
  background-position-y: em(-400);


  .headline, .logo {
    font-size: em($heading-1);
    text-align: center;
    line-height: em(35);
  }

  span {
    padding-right: em(10);
  }
}

.account-confirm {
  float: right;
  font-weight: bold;
}
