<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<!-- Everything other than what is between the <form> tags is only for my test
purposes ~Kyle SO this will eventually be only 15 or so lines -->
<script type="text/javascript" src="../../../vendors/angular.min.js"></script>
<script type="text/javascript" src="../newField/newFieldCtrl.js"></script>
<body>
	<form ng-app="formMod" ng-controller="newFieldCtrl" class="newField" novalidate>
		Field Name:
		<input type="text" ng-model="field.name"/><br>
		Crop Type:
		<select ng-model="field.crop">
			<option value="corn">Corn</option>
	  	<option value="rice">Rice</option>
	  	<option value="wheat">Wheat</option>
	  	</select><br>
	  Crop Variety:	
		<input type="text" ng-model="field.variety"/><br>
		Planting Date:
		<input type="date" ng-model="field.date"/><br>
		Station Number:
		<input type="text" ng-model="field.station"/>
		
		<button ng-click="reset()">RESET</button>
		<button ng-click="update(field)" ng-disabled="form.$invalid">SAVE</button>
	</form>
	<pre> form = {{field | json}}</pre>
	<pre> master = {{master | json}}</pre>


</body>
</html>


