/*temporary for blocking out wireframe*/
.container {
  background-color: #EEEEEE;
  margin-top: 5px;
}

.columns {
  background-color: #DDDDDD;
}

#examplegraph {
  height:332px;
  width: 440;
}
/*end wireframe code*/
