.copy{

  h2 {
    font-size: em($heading-2);
    border-bottom: 1px solid $alpha-gray;
    padding-left: em(10);
  }

  p {

    margin: em(10);
  }

  a {
    color: $color-1;

    &:hover {
      text-decoration: underline;
    }

    &:active{
      color: $color-3;
    }

    &:visited{
      color: $color-2;
    }
  }
}
