.hero {
  background-image: $background-img;
  background-position-y: em(-100);
  background-color: $color-2;
  height: em(500);
  width: 100%;
  color: $alpha-gray;
  text-align: center;
  margin-bottom: em(10);

  .logo {
    font-size: em(80);
    color: $color-1;
    margin-top: em(15);
  }

  .signup {
    margin: em(90) auto;
    text-align: center;
    width: 100%;

    p {
      margin-top: 1em;
    }
  }
}
