.hero {
  background-image: $background-img;
  background-position-y: em(-100);
  background-color: $color-2;
  height: em(500);
  width: 100%;
  color: $alpha-gray;
  text-align: center;

  .logo {
    font-size: em(60);
    color: $color-1;
    margin-top: em(40);
  }

  .signup {
    margin: em(40) auto;
    text-align: right;
    width: em(150);
  }
}
