.right {

  h2 {
    font-size: em($heading-2);
    font-weight: bold;
    text-align: center;
    padding-bottom: em(4);
    border-bottom: 1px solid $alpha-gray;
  }

  & > button {
    float: right;
    width: em(90);
    font-size: em(16);
    padding: em(4);
    background-color: $color-1;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    color: $white;
  }

  span {
    padding-left: em(8);
  }
}
