@import "forms/manifest";

form {

  fieldset {
    border: 1px solid $alpha-gray;
    border-radius: 4px;
    margin-top: em(20);
  }

  h1 {
    @extend %display-block;
    font-size: em($heading-2);
    text-align: center;
    line-height: em($heading-1);
    border-bottom: 1px solid $alpha-gray;
  }

  ul {
    margin-top: em(20);
  }

  li {
    margin: em(20) auto;
    p {
      margin-top: em(8);
      text-align: right;
    }
  }

  label {
    @extend %display-block;
  }

  input {
    @include box-sizing(border-box);
    @extend %default-inputs;
    font-family: $primary-font;
  }

  select {
    @extend %default-inputs;
  }

  button {
    width: em(120);
    margin-left: em(360);
    font-size: em(16);
    padding: em(8);
    background-color: $color-2;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    color: $white;
    &:hover {
      background-color: shade($color-2, 20%);
    }
    &:active {
      background-color: tint($color-2, 20%);
    }
  }

  a {
    @include a-styling;
  }

  .error-msg {
    color: $color-3;
  }
}

#delete {
  background-color: $color-3;
}
