@import "forms/manifest";

form {
  ul {
    margin-top: em(20);
  }

  li {
    margin: em(20) auto;
    a {
      text-align: right;
    }
  }

  label {
    @extend %display-block;
  }

  input {
    @include box-sizing(border-box);
    @extend %default-inputs;
    font-family: $primary-font;
  }

  select {
    @extend %default-inputs;
  }

  fieldset {
    border: none;
  }

  button {
    width: em(120);
    float: right;
    font-size: em(16);
    padding: em(8);
    background-color: $color-2;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    color: $white;
  }
}
