@import url(http://fonts.googleapis.com/css?family=Exo+2:700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

html {
  font: em($font-size, 16) $primary-font;
  line-height: baseline($font-size);
  color: $alpha-gray;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

.logo {
  font-family: $secondary-font;
  font-weight: bold;
  font-style: italic;
}

@mixin a-styling {
  color: $color-1;
  &:hover {
    text-decoration: underline;
  }
  &:active{
    color: $color-3;
  }
  &:visited{
    color: $color-2;
  }
}
