.button {
  display: inline-block;
  height: em(40);
  width: em(150);
  background-color: $color-3;
  color: $white;
  border-radius: 4px;
  line-height: em(40);
  text-align: center;
  margin: em(30);
  font-weight: bold;
  &:hover {
    background-color: shade($color-3, 20%);
  }
  &:active {
    background-color: tint($color-3, 20%);
  }
}
