form.eight.columns.offset-by-one.alpha.omega(novalidate)
  fieldset
    ul
      li
        input#name(ng-model="planting.fieldName", type="text", name="name", placeholder="Field name")
      li
        select#location(ng-model="planting.stationId", type="text", name="location", placeholder="Nearest CIMIS Station", list="locations")
          option(ng-repeat="station in activeStationList | orderBy: 'county'", value="{{station.station_nbr}}") {{station.county + ' County , ' + station.name}}
      li
        input#date(ng-model="planting.plantingDateRaw", type="date", name="date")
      li
        select#crop-type(ng-model="planting.crop", name="crop-type", placeholder="Crop Type", list="crop-types")
          option(value="") Crop Type:
          option(ng-repeat="crop in cropTypes", value="{{crop}}") {{crop.cropType | uppercase }} MinTemp: {{crop.gddParameters.minTempF}} MaxTemp: {{crop.gddParameters.maxTempF}}
      li
        input#variety(ng-model="planting.cropVariety" type="text", name="variety", placeholder="Variety")
      li
        button#submit(ng-click="postNewPlanting()", type="submit") Submit
