form.eight.columns.offset-by-one.alpha.omega(novalidate)
  fieldset
    ul
      li
        label(for="name") Field name:
        input#name(ng-model="planting.fieldName", type="text", name="name", placeholder="Elizabeth")
       li
        label(for="date") Planting date:
        input#date(ng-model="planting.plantingDateRaw", type="date", name="date")
      li
        label(for="location") Nearest CIMIS station:
        select#location(ng-model="planting.stationId", type="text", name="location", list="locations")
          option(ng-repeat="station in activeStationList | orderBy: 'county'", value="{{station.station_nbr}}") {{station.county + ' County , ' + station.name}}
      li
        label(for="crop-type") Crop Type:
        select#crop-type(ng-model="planting.crop", name="crop-type", placeholder="Crop Type", list="crop-types")
          option(ng-repeat="crop in cropTypes", value="{{crop}}") {{crop.cropType | uppercase }} MinTemp: {{crop.gddParameters.minTempF}} MaxTemp: {{crop.gddParameters.maxTempF}}
      li
        label(for="variety") Variety:
        input#variety(ng-model="planting.cropVariety" type="text", name="variety", placeholder="Popcorn")
      li
        button#delete(ng-click="deletePlanting()", ng-show="editPlantingView" type="submit") Delete
      li
        button#submit(ng-click="saveNewPlanting()", type="submit") Submit
