h2 Temperature at {{planting.stationID}} for the last 5 days
h4(ng-repeat="station in activeStationList| filter:farmer.defaultCimisId") {{station.name+", "+ station.county + " County"}}
figure.gdd-recent
  svg.fiveDayTempGraph




