article.graphs.ten.columns
  //- this would get filled with the different graphs - can probably do ng-show for each section
  figure.gdd-recent
    figcaption Temperature for the last 5 days 
    svg.fiveDayTempGraph
    
   
  

