article.graphs.ten.columns
  //- this would get filled with the different graphs - can probably do ng-show for each section
  figure.gdd-recent
    figcaption GDD at 
    h3 username: {{farmer.basic.email}}
    h3 num plantings: {{farmer.plantings.length}}
    //- insert svg here
  figure.gdd-crop
    figcaption Crop Type GDD
    //- insert appropriate svg here
  figure.gdd-field
    figcaption Cumulative GDD for
    //- relevant svg goes here
  svg.graph

