fieldset
  legend Add a field
  ul
    li
      label(for="name") Field Name
      input#name(ng-model="planting.fieldName" type="text", name="name", placeholder="Field name", required)
    li
      label(for="location") Nearest CIMIS Station
      input#location(ng-model="planting.stationId" type="text", name="location", placeholder="Nearest CIMIS Station", list="locations", required)
      datalist#locations
        include station-list
    li
      label(for="date") Planting Date:
      input#date(ng-model="plantingDate" type="date", name="date", required)
    li
      label(for="crop-type") Crop Type
      input#crop-type(ng-model="planting.cropType" type="text", name="crop-type", placeholder="Crop Type", list="crop-types", required)
      datalist#crop-types
        include station-list    
    li
      label(for="variety") Crop Variety
      input#variety(ng-model="cropVariety" type="text", name="variety", placeholder="Variety")
    li
      button#submit(ng-click="addPlanting()" type="submit") Submit
