//- this article gets populated by the fields on the account - can be custom directive or something
article.fieldList.six.columns
  //- this section is the Crop Type heading template
  section.cropType.six.columns
    h2 {{crop type}}
  //- this sectinon is the Field Label template
  section.field.five.columns.offset-by-one
    h3 {{field name}}
    p {{variety}}, planted on {{planting date}}
    p {{gdd}}
