//- this article gets populated by the fields on the account - can be custom directive or something
include page-header
article.fieldList.six.columns.alpha
  section.add-field(ng-click="goToAddPlantings()")
    h2 Add plantings
      span.fa.fa-plus-circle
  //- this section is the Crop Type heading template
  //- Use ng-show/hide to show this when it's relevant
  section.cropType(ng-repeat="(key, value) in farmer.plantings")
    h2 {{key}}
    //- this sectinon is the Field Label template
    section.field.row(ng-repeat="planting in value", ng-click="goToPlantingDetail(planting)")
      section.field-gdd
        h3 1234
        p GDDs
      section.field-name
        h3 {{planting.fieldName}}
        p Planted: {{planting.plantingDate | date}}
article.right.ten.columns.omega
  div(ng-include="rightSideUrl")
