main.container
  //- this article gets populated by the fields on the account - can be custom directive or something
  article.fieldList.six.columns
    a(ng-click="addPlantings()") Edit/Add Plantings <br>
    //- this section is the Crop Type heading template
    //- Use ng-show/hide to show this when it's relevant
    a(ng-click="showDashboard()") Back to Graph
    section.cropType.six.columns
      h2 
    //- this sectinon is the Field Label template
    section.field.five.columns.offset-by-one
      h3 Number of Plantings {{ farmer.plantings.length }}
      p 
      p 
  article.right.ten.columns
    div(ng-include="rightSideUrl")