//- this article gets populated by the fields on the account - can be custom directive or something
article.fieldList.six.columns
  a(ng-click="addPlantings()") Edit/Add Plantings <br>
  //- this section is the Crop Type heading template
  //- Use ng-show/hide to show this when it's relevant
  a(ng-click="showDashboard()") Back to Graph
  section.cropType.six.columns
    p Crop type goes here
  //- this sectinon is the Field Label template
  section.field(ng-repeat="planting in farmer.plantings")
    section.field-gdd.two.columns.alpha
      h3 1234
      p GDDs
    section.field-name.four.columns.omega
      h3 {{planting.cropType}}
      p Planted: {{planting.plantingDate | date}}
article.right.ten.columns
  div(ng-include="rightSideUrl")
