form
  fieldset
    legend Add a field
    ul
      li
        label(for="name") Field Name
        input(type="text", name="name", id="name", required)

      li
        label(for="location") Nearest CIMIS Station
        input(type="text", name="location", id="location", list="locations", required)
        datalist(id="locations")
          option(value="XX") XX
          option(value="YY") YY
          option(value="ZZ") ZZ

      li
        label(for="date") Planting Date
        input(type="date", name="date", id="date", ng-model="field.plantingDate", required)

      li
        label(for="crop") Crop Type
        input(type="radio", name="crop", value="corn") Corn
        input(type="radio", name="crop", value="rice") Rice
        input(type="radio", name="crop", value="bean") Beans

      li
        label(for="variety") Crop Variety
        input(type="text", name="variety", id="variety")

      li
        input(type="submit")
