article.graphs.ten.columns
  //- this would get filled with the different graphs - can probably do ng-show for each section
  figure.gdd-recent
    figcaption GDD at {{local weather station}}
    //- insert svg here
  figure.gdd-crop
    figcaption Crop Type GDD
    //- insert appropriate svg here
  figure.gdd-field
    figcaption Cumulative GDD for {{field name}}
    //- relevant svg goes here

