section.hero.sixteen.columns
  h1.logo Crop Tracker
  p See the growth of your fields in a whole new way!
  a.button(href='/#/login') Sign In!
  a(href='/#/signup') Sign Up!
section.copy.twelve.columns
  h1 Welcome to Crop Tracker
section.demoImg.four.columns
  //- put an example graph here

