article.hero.sixteen.columns
  h1.logo Crop Tracker
  p See the growth of your fields in a whole new way!
  a.button(href='/#/signup') Sign Up!
  a(href='/#/login') or log in
section.copy.eight.columns
  h2 About Us
  p Crop Tracker is a tool to help Californian farmers manage their crops. Leveraging weather data scraped from the <a href="http://www.cimis.water.ca.gov/">California Irrigation Management Information System (CIMIS)</a>, we're providing a quick way to track crop growth using <a href="http://en.wikipedia.org/wiki/Growing_degree-day">Growing Degree-Days (GDD)</a>.
  p
section.demoImg.six.columns.offset-by-one
  //- put an example graph here

