article.hero.sixteen.columns
  h1.logo Crop Tracker
  p See the growth of your fields in a whole new way!
  .signup
    a.button(href='/#/signup') Sign Up
    a.button(href='/#/login')  Log In
section.copy.seven.columns
  h2 About Us
  p Crop Tracker is a tool to help Californian farmers manage their crops. Leveraging weather data scraped from the <a href="http://www.cimis.water.ca.gov/">California Irrigation Management Information System (CIMIS)</a>, we're providing a quick way to track crop growth using <a href="http://en.wikipedia.org/wiki/Growing_degree-day">Growing Degree-Days (GDD)</a>.
  p
section.demoImg.nine.columns.omega
  img(src="http://i.imgur.com/iTKhA21.png", alt="example GDD Graph")

