doctype html
html(lang="en-us" ng-app="mainApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="See the number of cumulative growing degree days(GDD) for your crops")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title CropTracker
    link(rel='stylesheet', href='style.css')
    body
      main.container(ng-view)
      script(src="client.js")
