doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="See the number of cumulative growing degree days(GDD) for your crops")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title CropTracker
    link(rel='stylesheet', href='/css/main.css')
  body
    block content

    script(src="d3.js")
    script(src="nv.d3.js")
    script(src="client.js")
