
form.eight.columns(novalidate)
  fieldset
    legend Log In
    ul
      li
        label(for="username") E-mail address:
        input(type="email", name="username", id="username", ng-model="user.email",required)
      li
        label(for="password") Password:
        input(type="password", name="password", id="password", ng-model="user.password", required)
      li
        button(type="submit", ng-click="signin()") Submit
        a(href="/#/signup") or Sign Up
      p {{user.email}}, {{user.password}}
      p {{failedLogin}}
