form.form.eight.columns.offset-by-four(novalidate)
  fieldset
    ul
      li
        label(for="username") E-mail address:
        input(type="email", name="username", id="username", ng-model="user.email",required)
      li
        label(for="password") Password:
        input(type="password", name="password", id="password", ng-model="user.password", required)
      li
        button(type="submit", ng-click="signin()") Log In
        a(href="/#/signup") or Sign Up
      p {{failedLogin}}
