header.container
  a.logo.four.columns(href="#") Crop Tracker
  h1.headline.eight.columns {{farmer.basic.email}}'s Crops
  nav.four.columns
    ul
      li(ng-click="showDashboard()")
        p.fa.fa-home.fa-lg
        p Home
      a(href="")
        li
          p.fa.fa-envelope.fa-lg
          p Contact
      a(href="#")
        li
          p.fa.fa-info-circle.fa-lg
          p Info
      a(href="#")
        li
          p.fa.fa-sign-out.fa-lg
          p Log out
