header
  a(href="/")
    h1.logo.four.columns Crop Tracker
  h1.headline.eight.columns {{pageTitle}}
  nav.two.columns.offset-by-two
    ul
      li(ng-click="goToDashboard()")
        p
          span.fa.fa-home.fa-lg
          | Home
      li
        p
          span.fa.fa-info-circle.fa-lg
          | Info
      li(ng-show="loggedIn")
        p
          span.fa.fa-gear.fa-lg
          | Settings
      li(ng-hide="loggedIn" ng-click="logout()")
        p
          span.fa.fa-sign-in.fa-lg
          | Log in
      li(ng-show="loggedIn" ng-click="logout()")
        p
          span.fa.fa-sign-out.fa-lg
          | Log out
.account-confirm(ng-show="loggedIn")
  p Welcome, {{farmer.name.firstName}}
