header.container
  figure.four.columns
    a(href="#")
      h1.logo Crop Tracker
  h1.eight.columns {{farmer.basic.email}}'s Crops
  nav.four.columns
    a.fa.fa-home(ng-click="showDashboard()") Home
    a.fa.fa-envelope(href="#") Contact
    a.fa.fa-info-circle(href="#") About
    a.fa.fa-sign-out(href="#") Sign out
