h2 Field info for {{currentPlanting.fieldName}}
button(ng-click="editPlanting()") Edit
  span.fa.fa-edit
p Planting date: {{currentPlanting.plantingDate | date}}
p CIMIS Station: {{currentPlanting.stationID}}
p Crop type: {{currentPlanting.cropType}}
p Variety: {{currentPlanting.variety}}
figure.gdd-field
  figcaption Cumulative GDD since {{currentPlanting.plantingDate | date}}
  svg.plantingGraph
figure
  figcaption Daily GDD since {{currentPlanting.plantingDate | date}}
  svg.dailyGddGraph

