form.form.eight.columns.offset-by-four(novalidate)
  fieldset
    p.error-msg(ng-show="error") {{error}}
    ul
      li
        label(for="username") E-mail address:
        input(type="email", name="username", id="username", ng-model="user.email",required)
      li
        label(for="password") Password:
        input(type="password", name="password", id="password", ng-model="user.password", required)
      li
        label(for="password2") Re-enter your password:
        input(type="password", name="password2", id="password2", ng-model="user.password2", required)
      li
        button(type="submit" ng-click="signup()") Sign Up
        p Or if you already have an account,
          a(href='/#/login') sign in.
