form
  fieldset
    legend Sign Up {{fuckyou}}
    ul
      li
        label(for="email") Username (E-mail address):
        input(type="email", name="email", id="email", required)
      li
        label(for="password1") Password:
        input(type="password", name="password1", id="password1", required)
      li
        label(for="password2") Re-enter your password:
        input(type="password", name="password2", id="password2", required)
      li
        input(type="submit")
