option(value="Fresno/F.S.U. USDA (1)")
option(value="FivePoints (2)")
option(value="Beach /Santa Cruz CO (3)")
option(value="Webb /Santa Cruz CO (4)")
option(value="Shafter (5)")
option(value="Davis (6)")
option(value="Firebaugh/Telles (7)")
option(value="Gerber (8)")
option(value="Lamont (9)")
option(value="Bakersfield/Greenlee (10)")
option(value="Bakersfield/Bonanza (11)")
option(value="Durham (12)")
option(value="Camino (13)")
option(value="Orland (14)")
option(value="Stratford (15)")
option(value="San Juan (16)")
option(value="El Centro (17)")
option(value="Westmorland (18)")
option(value="Castroville (19)")
option(value="Corcoran (20)")
option(value="Kettleman (21)")
option(value="Caruthers (22)")
option(value="King City (23)")
option(value="Thermal (24)")
option(value="Rancho Mirage (25)")
option(value="Lost Hills (26)")
option(value="Zamora (27)")
option(value="Soledad (28)")
option(value="Cantua Creek (29)")
option(value="Nicolaus (30)")
option(value="McFarland/Kern Farms (31)")
option(value="Colusa (32)")
option(value="Visalia (33)")
option(value="Rancho California (34)")
option(value="Bishop (35)")
option(value="Blythe (36)")
option(value="USDA Salinas (37)")
option(value="Santa Maria (38)")
option(value="Parlier (39)")
option(value="Mendota/MuriettaUSDA (40)")
option(value="Calipatria/Mulberry (41)")
option(value="Lodi (42)")
option(value="McArthur (43)")
option(value="U.C. Riverside (44)")
option(value="San Diego (45)")
option(value="MacDoel (46)")
option(value="Brentwood (47)")
option(value="Tulelake (48)")
option(value="Oceanside (49)")
option(value="Thermal (50)")
option(value="Healdsburg (51)")
option(value="San Luis Obispo (52)")
option(value="Greenfield (53)")
option(value="Blackwells Corner (54)")
option(value="Palm Desert (55)")
option(value="Los Banos (56)")
option(value="Buntingville (57)")
option(value="Santa Paula (58)")
option(value="Tehachapi (59)")
option(value="Barstow (60)")
option(value="Orland (61)")
option(value="Temecula (62)")
option(value="Novato (63)")
option(value="Santa Ynez (64)")
option(value="Walnut Creek (65)")
option(value="San Diego (66)")
option(value="Goleta (67)")
option(value="Seeley (68)")
option(value="San Jose (69)")
option(value="Manteca (70)")
option(value="Modesto (71)")
option(value="Palo Verde (72)")
option(value="Hollywood Hills (73)")
option(value="Escondido (74)")
option(value="Irvine (75)")
option(value="Betteravia (76)")
option(value="Oakville (77)")
option(value="Pomona (78)")
option(value="Angwin (79)")
option(value="Fresno State (80)")
option(value="Shenandoah Valley (81)")
option(value="Claremont (82)")
option(value="Santa Rosa (83)")
option(value="Browns Valley (84)")
option(value="Hopland FS (85)")
option(value="Lindcove (86)")
option(value="Meloland (87)")
option(value="Cuyama (88)")
option(value="Salinas South (89)")
option(value="Alturas (90)")
option(value="Tulelake FS (91)")
option(value="Kesterson (92)")
option(value="Lamont (93)")
option(value="Goleta Foothills (94)")
option(value="Watsonville (95)")
option(value="Woodside (96)")
option(value="Port Hueneme (97)")
option(value="Ramona (98)")
option(value="Santa Monica (99)")
option(value="Fremont (100)")
option(value="Piru (101)")
option(value="El Dorado (102)")
option(value="Windsor (103)")
option(value="De Laveaga (104)")
option(value="Westlands (105)")
option(value="Sanel Valley (106)")
option(value="Santa Barbara (107)")
option(value="Gerber Dryland (108)")
option(value="Carneros (109)")
option(value="Newberry Springs (110)")
option(value="Green Valley Road (111)")
option(value="San Ardo (112)")
option(value="King City-Oasis Rd. (113)")
option(value="Arroyo Seco (114)")
option(value="Gonzales (115)")
option(value="Salinas North (116)")
option(value="Victorville (117)")
option(value="Cathedral City (118)")
option(value="Putah Creek (119)")
option(value="Guadalupe (120)")
option(value="Dixon (121)")
option(value="Hastings Tract (122)")
option(value="Suisun Valley (123)")
option(value="Panoche (124)")
option(value="Arvin-Edison (125)")
option(value="San Benito (126)")
option(value="Salton Sea West (127)")
option(value="Salton Sea East (128)")
option(value="Pajaro (129)")
option(value="Temecula East (130)")
option(value="Fair Oaks (131)")
option(value="Morgan Hill (132)")
option(value="Glendale (133)")
option(value="Barstow NE (134)")
option(value="Blythe NE (135)")
option(value="Oasis (136)")
option(value="Temecula East II (137)")
option(value="Famoso (138)")
option(value="Winters (139)")
option(value="Twitchell Island (140)")
option(value="Mecca (141)")
option(value="Orange Cove (142)")
option(value="San Juan Valley (143)")
option(value="Petaluma East (144)")
option(value="Madera (145)")
option(value="Belridge (146)")
option(value="Otay Lake (147)")
option(value="Merced (148)")
option(value="Oakland Foothills (149)")
option(value="Miramar (150)")
option(value="Ripley (151)")
option(value="Camarillo (152)")
option(value="Escondido SPV (153)")
option(value="Salton Sea North (154)")
option(value="Bryte (experimental) (155)")
option(value="Oxnard (156)")
option(value="Point San Pedro (157)")
option(value="Bennett Valley (158)")
option(value="Monrovia (159)")
option(value="San Luis Obispo West (160)")
option(value="Patterson (161)")
option(value="Indio (162)")
option(value="Atascadero (163)")
option(value="Valley of the Moon (164)")
option(value="Sisquoc (165)")
option(value="Lodi West (166)")
option(value="Tracy (167)")
option(value="Denair (168)")
option(value="Porterville (169)")
option(value="Concord (170)")
option(value="Union City (171)")
option(value="Lost Hills NW (172)")
option(value="Torrey Pines (173)")
option(value="Long Beach (174)")
option(value="Palo Verde II (175)")
option(value="La Quinta (176)")
option(value="Watsonville West (177)")
option(value="Moraga (178)")
option(value="Winchester (179)")
option(value="Westmorland West (180)")
option(value="Westmorland North (181)")
option(value="Delano (182)")
option(value="Owens Lake North (183)")
option(value="San Diego II (184)")
option(value="UC-Mex (185)")
option(value="UC-San Luis (186)")
option(value="Black Point (187)")
option(value="Madera II (188)")
option(value="Owens Lake South (189)")
option(value="Five Points South West (190)")
option(value="Pleasanton (191)")
option(value="Lake Arrowhead (192)")
option(value="Pacific Grove (193)")
option(value="Oakdale (194)")
option(value="Auburn (195)")
option(value="Esparto (196)")
option(value="Palmdale (197)")
option(value="Santa Paula (198)")
option(value="Big Bear Lake (199)")
option(value="Indio 2 (200)")
option(value="UC-Andrade (201)")
option(value="Nipomo (202)")
option(value="Alpaugh (203)")
option(value="Santa Clarita (204)")
option(value="Coalinga (205)")
option(value="Denair II (206)")
option(value="Borrego Springs (207)")
option(value="La Quinta II (208)")
option(value="Watsonville West II (209)")
option(value="Carmel (210)")
option(value="Gilroy (211)")
option(value="Hastings Tract East (212)")
option(value="El Cerrito (213)")
option(value="Salinas South II (214)")
option(value="Chatsworth (215)")
option(value="Arleta (216)")
option(value="Thermal South (218)")
option(value="West Hills (219)")
option(value="Palmdale Central (220)")
option(value="Cadiz Valley (221)")
option(value="Shasta College (224)")
option(value="Woodland (226)")
option(value="Plymouth (227)")
option(value="Diamond Springs (228)")
option(value="Laguna Seca (229)")
option(value="Santa Barbara II (230)")
option(value="Lompoc (231)")
option(value="Santa Maria II (232)")
option(value="Joshua Tree (233)")
option(value="Verona (235)")
option(value="Temecula East III (237)")
option(value="Moreno Valley (238)")
option(value="Perris - Menifee (240)")
